<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Loop_0">
            <entry key="type" type="xstring" value="loopcontext"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="maxIterations"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="timeout (s)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="-1"/>
        </config>
        <config key="Loop_Execute_4">
            <entry key="type" type="xstring" value="loopcontext_execute"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="maxIterations"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Number of Iterations_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Number of Iterations" type="xint" value="1"/>
        <config key="Use Cutout period_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Use Cutout period" type="xboolean" value="false"/>
        <config key="Maximum Time_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Maximum Time" type="xint" value="300"/>
        <config key="Report node times_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Report node times" type="xboolean" value="false"/>
        <config key="Probe wrapped metanodes timings_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Probe wrapped metanodes timings" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="com.vernalis.knime.perfmon.nodes.loopstart.timing.PerfMonTiming3PortStartNodeFactory"/>
    <entry key="node-name" type="xstring" value="Benchmark Start (3 ports)"/>
    <entry key="node-bundle-name" type="xstring" value="Vernalis benchmarking nodes "/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="com.vernalis.knime.perfmon"/>
    <entry key="node-bundle-vendor" type="xstring" value="Vernalis Research, UK"/>
    <entry key="node-bundle-version" type="xstring" value="1.38.2.v202504171302"/>
    <entry key="node-feature-name" type="xstring" value="Vernalis KNIME Nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="com.vernalis.knime.feature.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="Vernalis Research Ltd, Cambridge, UK"/>
    <entry key="node-feature-version" type="xstring" value="1.38.2.v202504171302"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Benchmark Start (3 ports)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 480, Cols: 4"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 565, Cols: 4"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 506, Cols: 4"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" value="filestore"/>
        <entry key="file_store_id" type="xstring" value="97689308-f0a6-4f56-9266-70f40426bc56"/>
    </config>
</config>
