<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="settings">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <entry key="source_label" type="xstring" value="source"/>
            <entry key="target_label" type="xstring" value="target"/>
            <entry key="weight_label" type="xstring" value="discussion"/>
            <entry key="two_mode" type="xboolean" value="false"/>
            <entry key="symmetric" type="xboolean" value="false"/>
            <entry key="irreflexive" type="xboolean" value="false"/>
        </config>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="0.1.0"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Network Creation"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Python 3 - Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.python3.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.4.v202505021022"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Python Extension Development (Labs)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.python3.nodes.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.4.v202505021022"/>
    <entry key="factory-id-uniquifier" type="xstring" value="org.ethz.networks_!_NetworkFactoryNode"/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="org.ethz.networks"/>
        <entry key="node_id" type="xstring" value="NetworkFactoryNode"/>
    </config>
    <config key="node_creation_config">
        <config key="Input Input Table # 0"/>
        <config key="Output Output Network # 0"/>
        <config key="Output Network"/>
    </config>
    <entry key="name" type="xstring" value="Network Creation"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject"/>
            <entry key="port_object_summary" type="xstring" value="org.ethz.networks.util.port_objects.NetworkPortObject"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content"/>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
